[submodule "RedDbg/Include/Deps/DriverLoader"]
	path = RedDbg/Include/Deps/DriverLoader
	url = https://github.com/Nitr0-G/DriverLoader
[submodule "RedDbg/Source/Deps/zydis"]
	path = RedDbg/Source/Deps/zydis
	url = https://github.com/zyantific/zydis
[submodule "RedDbg/Include/Deps/tomlplusplus"]
	path = RedDbg/Include/Deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "RedDbg/Source/Deps/pe-parse"]
	path = RedDbg/Source/Deps/pe-parse
	url = https://github.com/trailofbits/pe-parse.git
