[submodule "RedDbg/Include/Deps/DriverLoader"]
	path = RedDbg/Include/Deps/DriverLoader
	url = https://github.com/Nitr0-G/DriverLoader
[submodule "RedDbg/Source/Deps/zydis"]
	path = RedDbg/Source/Deps/zydis
	url = https://github.com/zyantific/zydis
[submodule "RedDbg/Source/Deps/FTXUI"]
	path = RedDbg/Source/Deps/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
